[submodule "p1"]
	path = p1
	url = https://github.com/zyalm/p1.git
[submodule "p2"]
	path = p2
	url = https://github.com/zyalm/p2.git
[submodule "p3"]
	path = p3
	url = https://github.com/zyalm/p3.git
